
.menu-main {
  display: none;
  flex: 0;
  @include breakpoint('medium') {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      margin-right: 25px;
      width: 75px;
      text-align: center;
      > a {
        display: inline-block;
        font-weight: lighter;
        text-decoration: none;
        &:hover {
          color: var(--dot-color);
        }
      }
      &.active {
        > a {
          display: inline-block;
          font-weight: bold;
          color: var(--dot-color);
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}